{% extends "layouts/app.html" %}


{% block tbar %}
<div class="profile__nav__pills pills">
  <a class="pills__pill pills__pill--active" href="">
      Resume
  </a>
  <a class="pills__pill" href="">
      Process
  </a>
  <a class="pills__pill" href="">
      History
  </a>
  <a class="pills__pill" href="">
      Documents
  </a>
  <a class="pills__pill" href="">
      Jobs
  </a>
</div>
{% endblock %}

{% block main %}
<article class="applicant-resume">
  <a class="btn2 applicant-resume__download-button" href="">
    Original Document
  </a>

  <section class="applicant-resume__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper purus quis turpis convallis tincidunt ut vel augue. Pellentesque ut nisl egestas, volutpat purus fringilla, tempor nibh. Morbi auctor viverra magna a mattis. Mauris non malesuada metus. Phasellus mattis augue ultricies, cursus tellus nec, maximus magna. Aenean et consequat mi. Fusce finibus luctus tincidunt. Fusce gravida nisl sed dolor malesuada tempor. Aenean et ligula tristique, luctus turpis et, interdum nulla. Fusce a varius ligula. Praesent ac elit sed ante accumsan aliquam. Donec sed viverra erat, eget imperdiet risus.

Phasellus a purus ut nunc euismod efficitur id vel dolor. Suspendisse pharetra massa mi, a euismod sem egestas sed. Suspendisse id egestas ante, tristique porttitor leo. Vivamus et egestas diam, a ultrices ipsum. Maecenas vel eros et magna volutpat lacinia. Praesent convallis ac eros vitae feugiat. Donec imperdiet nibh eget est rutrum vestibulum. Pellentesque auctor mattis augue, et scelerisque mi rutrum at. Nam et dapibus purus, sed tincidunt nulla. Nulla sapien massa, posuere id lacinia vitae, condimentum sit amet nunc. Morbi ac lacus rutrum quam elementum rhoncus at nec lorem. Sed quis tellus in sapien blandit sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut sapien nisi. Integer cursus luctus scelerisque.

Suspendisse quis volutpat est. Vivamus vel condimentum massa. Nunc est lectus, sodales ac consectetur nec, tincidunt consectetur nisi. In nec lorem eu neque faucibus viverra. Curabitur venenatis ipsum vel nulla scelerisque, vitae tincidunt sem dictum. Etiam egestas erat sed sapien elementum sagittis. Suspendisse sagittis elementum nisl at blandit. Nunc ornare bibendum sem ac dignissim. In venenatis sem eu aliquam ornare. Curabitur nec dui convallis, faucibus leo ac, posuere mi. Quisque eget odio ullamcorper, aliquam nulla sit amet, molestie mauris. Ut magna metus, porttitor id convallis non, finibus et dolor. Fusce ut luctus velit. Donec vestibulum, sem non vestibulum posuere, lorem mi mollis purus, at tempor mauris augue sed eros. Curabitur non viverra mi, sed auctor quam.

Praesent at volutpat risus, nec sollicitudin sem. Curabitur volutpat fringilla quam. Vestibulum augue mauris, condimentum a felis vel, lacinia fermentum lectus. Mauris luctus neque mi, at ullamcorper risus aliquam vitae. Vestibulum consequat sodales nisi a semper. Sed gravida viverra justo, sit amet malesuada nulla scelerisque nec. Nunc tempor felis ut purus mattis egestas id vitae purus. Aenean fermentum tempor euismod. Sed lobortis lacus ac varius tristique. Ut et neque non enim euismod lacinia vitae in diam. Cras rutrum metus libero. Donec lacus enim, sagittis nec metus vitae, egestas imperdiet nulla. Donec at lobortis lectus.

Donec viverra tortor pharetra justo lobortis tristique. Vivamus dapibus nibh interdum bibendum pulvinar. Morbi sit amet tellus sapien. Aenean fringilla turpis vel justo cursus varius. Proin nec blandit dolor, eu mattis justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus arcu et augue ullamcorper aliquet. Integer in ligula ultrices, sodales dolor sit amet, placerat urna.</section>
</article>
{% endblock %}