{% extends "layouts/app.html" %}

{% block tbar %}
<div class="profile__nav__pills pills">
  <a class="pills__pill pills__pill--active" href="">
      Resume
  </a>
  <a class="pills__pill" href="">
      Process
  </a>
  <a class="pills__pill" href="">
      History
  </a>
  <a class="pills__pill" href="">
      Documents
  </a>
  <a class="pills__pill" href="">
      Jobs
  </a>
</div>
{% endblock %}

{% block main %}
<article class="grid">
<table class="grid__data">
  <thead>
    <tr>
      
        <th>
          

            <a href="" title="Sort by Applicant Ascending">
              Applicant 
            </a>
          
        </th>
      
        <th>
          

            <a href="" title="Sort by Status Ascending">
              Status 
            </a>
          
        </th>
      
        <th>
          

            <a href="" title="Sort by Submitted On Ascending">
              Submitted On 
            </a>
          
        </th>
      
        <th>
          

            <a href="" title="Sort by Last Activity Descending">
              Last Activity 
                  ▼
                
            </a>
          
        </th>
      
    </tr>
  </thead><tbody>
    
      <tr>
        
            <td><a href="">Carol Connor</a></td>
          
            <td>Interview</td>
          
            <td>Jun 1, 2016</td>
          
            <td>Jan 19, 2018</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Susan Western</a></td>
          
            <td>Screen</td>
          
            <td>Jan 15, 2018</td>
          
            <td>Jan 16, 2018</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Wilma Williams</a></td>
          
            <td>Board</td>
          
            <td>Nov 16, 2016</td>
          
            <td>Jan 11, 2018</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">William Johnson</a></td>
          
            <td>Screen</td>
          
            <td>Jan 11, 2018</td>
          
            <td>Jan 11, 2018</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Bill Thurston</a></td>
          
            <td>Offer</td>
          
            <td>Oct 29, 2015</td>
          
            <td>Jan 11, 2018</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Manjusha Handa</a></td>
          
            <td>Screen</td>
          
            <td>Apr 12, 2017</td>
          
            <td>Jan 3, 2018</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Uri Urbane</a></td>
          
            <td>Screen</td>
          
            <td>Nov 16, 2016</td>
          
            <td>Jan 3, 2018</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Tina Thompson</a></td>
          
            <td>Review</td>
          
            <td>Nov 16, 2016</td>
          
            <td>Dec 18, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Richard Ricardo</a></td>
          
            <td>Screen</td>
          
            <td>Nov 16, 2016</td>
          
            <td>Dec 6, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Jessa Chester</a></td>
          
            <td>Screen</td>
          
            <td>Nov 2, 2017</td>
          
            <td>Dec 5, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Oliver Jonathan</a></td>
          
            <td>Offer</td>
          
            <td>Nov 16, 2016</td>
          
            <td>Dec 5, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Jeffrey Teague</a></td>
          
            <td>Screen</td>
          
            <td>Nov 22, 2016</td>
          
            <td>Dec 5, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Maggie Powers</a></td>
          
            <td>Interview</td>
          
            <td>Dec 2, 2015</td>
          
            <td>Nov 28, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Walter Kettles</a></td>
          
            <td>Screen</td>
          
            <td>Jun 1, 2016</td>
          
            <td>Oct 30, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Eloise Brown</a></td>
          
            <td>Interview</td>
          
            <td>Apr 1, 2016</td>
          
            <td>Sep 27, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Alana Brown</a></td>
          
            <td>Interview</td>
          
            <td>Sep 2, 2015</td>
          
            <td>Sep 19, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">James Cameroon</a></td>
          
            <td>Interview</td>
          
            <td>Sep 2, 2015</td>
          
            <td>Sep 14, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Yolanda Yets</a></td>
          
            <td>Interview</td>
          
            <td>Jun 1, 2016</td>
          
            <td>Sep 8, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Harry Harris</a></td>
          
            <td>Interview</td>
          
            <td>Sep 2, 2015</td>
          
            <td>Aug 22, 2017</td>
          
      </tr>
    
      <tr>
        
            <td><a href="">Sandra Williams</a></td>
          
            <td>Screen</td>
          
            <td>Feb 23, 2016</td>
          
            <td>Aug 16, 2017</td>
          
      </tr>
    
  </tbody>
</table>
</article>
{% endblock %}